.biggernav{
    font-size: 30px;
    color: black;
    /*background: linear-gradient(0deg, rgba(255,0,255,1) 30%, rgba(255,255,255,0) 30%);*/
    background-color: beige;

}
.selicon{
    color: chocolate;
}

.content{
    padding-bottom: 34px;
    background-color: grey;
}
