body{
    background-color: lightblue;
}
.biggernav{
    font-size: 30px;
    color: black;
    /*background: linear-gradient(0deg, rgba(255,0,255,1) 30%, rgba(255,255,255,0) 30%);*/
    background-color: beige;

}
.selicon{
    color: chocolate;
}
.icon a {
    color: black;
}
.content{
    padding-bottom: 34px;
}

